.nav {
}
.nav__item {
  display: inline-block;
  text-decoration: none;
  transition: box-shadow .2s ease-out;
}
.nav__item:hover {
  box-shadow: 0 -3px 0 #4bd094 inset;
}


.cover {
  position: relative;
  color: white;
  background: rgba(0, 0, 0, 0.8) no-repeat center center;
  background-size: cover;
}
.cover__text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.35));
}


.header {
}
.header__cover {
  height: 240px;
  background-image: url(https://dn-yuehu.qbox.me/cover/editors-picks/q8Up172j5piiqQvu.jpg/cover);
}
.header__nav {
  background-color: white;
  box-shadow: 0 1px 0 rgba(100, 100, 100, 0.08) inset;
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
}


.webpage {
  border-radius: 3px;
  margin: 10px 0 20px;
  border: #eee 1px solid;
}
.webpage:hover {
  border-color: #ccc;
}
.webpage a {
  display: block;
  color: #565656;
}
.webpage h2, .webpage p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.webpage__host {
  font-size: 14px;
  color: #999;
  margin: 4px 0;
}
.webpage__info {
  padding: 10px 10px 10px 20px;
}
.webpage--media {
  position: relative;
  padding-left: 85px;
}
.webpage--media .webpage__image {
  position: absolute;
  left: 0;
  top: 0;
}
.webpage--media img {
  max-width: 80px;
  padding-top: 14px;
  padding-left: 8px;
  vertical-align: middle;
}
.webpage--cover {
}
.webpage--cover .webpage__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 200px;
}
